body {
	margin: 0px auto;
}

/*
		HEADER
*/
header {
	background-color: #F5F5F5;
	border-bottom: 1px solid #D0D0D0;
}

.header-title {

}

.header-title__main-title{
	padding: 15px 0;
	/*float: left;*/
	display: inline-block;
	font-size: 1.5rem;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

.header-title__main-title span {
	font-weight: bold;
}

/*
		CONTENT
*/

.content-wrapper {
	margin: 0px auto;
	min-width: 600px;
	max-width: 1300px;
}

.content-navigation {
	width: 300px;
	overflow: auto;
	float: left;
}

.content-navigation-top {
	position: fixed;
	top: 0;
	max-height: 100vh;
}

.content-navigation > div.dijitContentPane {
	padding: 0 5px 0 0;
}


.content-navigation ul{
	padding-left: 15px;
}

#navigation {
	padding-left: 0;
}



.content-navigation__item {
	list-style-type: none;

}

.content-navigation__link {
	background-color: #F5F5F5;
	display: block;
	min-height: 20px;
	margin: 2px 0;
	padding: 5px 15px;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	border: 1px solid #D0D0D0;
	text-decoration: none;
}

.content-navigation__link:visited, .content-navigation__link:link {
	color: black;
}

.content-navigation__link:hover {
	color: white;
	text-decoration: underline;
	background-color: #007AC2;
}

.content-manual {
	text-align: justify;
	padding: 15px 15px 15px 50px;
	margin-left: 300px;
}

/*
		FOOTER
*/

footer {/*
	height: 200px;*/
	border-top: 1px solid #D0D0D0;
	background-color: #F5F5F5;
}

.footer-content {
	text-align: center;
	padding: 10px 0;
}


/*
		OTHER
*/

.clearfix:after {
	visibility: hidden;
	display: block;
	content: ".";
	font-size: 0px;
	clear: both;
	height: 0;
}
/*
	У нас не будет пользователей с такими браузерами
* + html .clearfix { zoom: 1; }
* html .clearfix { zoom: 1; }*/
