.manual-main-title {
	text-align: center;
}

.manual-paragraph {
	margin-bottom: 10px;
}

.manual-paragraph-title {

}

.manual-paragraph-text {
	margin-bottom: 10px;
}

.manual-paragraph-text__link {

}

.manual-paragraph-text__link__image{
	float: left;
	padding-right: 10px;
}

.manual-paragraph-text__link__checkBox{
	list-style-type: none;
}


.manual-paragraph__image img {
	width: 100%;
	max-width: 800px;
	margin: 0px auto;
	display: inherit;

}

.manual-paragraph__image figcaption {
	text-align: center;
}
