	<section id="map" data-title="Работа с картой" class="manual-paragraph navigation-anchor">
		<h2 class="manual-main-title">Работа с картой</h2>
		<article id="map-Start" data-title="Авторизация" class="navigation-anchor-sub manual-paragraph">
		<h3 class="manual-paragraph-title">Начало работы и авторизация</h3>
			<p class="manual-paragraph-text">
				Для начала работы с приложением необходимо ввести соответствующий URL в адресную строку браузера, после чего появится форма авторизации
			</p>
			<figure class="manual-paragraph__image">
				<img src="image/map-1.jpg" alt="Форма авторизации пользователя" />
				<figcaption >Форма авторизации пользователя</figcaption>
			</figure>
			<p class="manual-paragraph-text">
				Для авторизации необходимо ввести Имя пользователя и пароль в соответствующие поля формы и нажать кнопку “Вход в систему”. При неверно введенных данных система выдаст соответствующее сообщение. При верно введенных данных пользователю будет предоставлена форма с информацией, на которой будет представлено меню работы с проектом, располагающееся в верхнем правом углу рабочей зоны
			</p>
			<p class="manual-paragraph-text">
				Для перехода в раздел администрирования или работы с картой необходимо выбрать соответствующий пункт меню
			</p>
			<figure class="manual-paragraph__image">
				<img src="image/map-2.jpg" alt="Начальное окно приложения" />
				<figcaption >Начальное окно приложения</figcaption>
			</figure>
		</article>


		<article id="map-Work" class="navigation-anchor-sub manual-paragraph">
			<h3 class="manual-paragraph-title">Работа с картой</h3>
			<p class="manual-paragraph-text">
				Основная работа с приложением происходит в модуле «Карта». Общий вид данного модуля показан на рисунке
			</p>

			<figure class="manual-paragraph__image">
				<img src="image/map-3.jpg" alt="Общий вид модуля «Карта»" />
				<figcaption >Общий вид модуля «Карта»</figcaption>
			</figure>
		</article >


		<article id="map-SystemPanel" class="navigation-anchor-sub manual-paragraph">
			<h3 class="manual-paragraph-title">Системная панель</h3>
				<p>Данная панель включает в себя несколько подменю:</p>
				<h4>ГИС ТУСУР</h4>
				<p>Содержит Печать карты и Выход из системы.</p>
				<h4>Поэтажные планы.</h4>
					<p>
						Включает в себя список всех доступных поэтажных планов зданий университетом. Является одним из способов быстрого перехода к поэтажному плану здания. Также переход возможен непосредственно при выделении конкретного объекта. Для этого пользователю нужно нажать на ссылку во всплывающем окне, рядом со зданием.
					</p>
					<figure class="manual-paragraph__image">
						<img src="image/map-4.jpg" alt="Список поэтажных планов" />
						<figcaption >Список поэтажных планов</figcaption>
					</figure>
					<figure class="manual-paragraph__image">
						<img src="image/map-5.jpg" alt="Всплывающее окно со ссылкой на поэтажный план" />
						<figcaption >Всплывающее окно со ссылкой на поэтажный план</figcaption>
					</figure>
					<p class="manual-paragraph-text">
						При переходе на поэтажный план здания автоматически открывается один из этажей. Для перехода на другой этаж необходимо выбрать его из выпадающего списка. Функции панели инструментов работают так же, как и на обычной карте.
					</p>
					<figure class="manual-paragraph__image">
						<img src="image/map-6.jpg" alt="Поэтажный план здания" />
						<figcaption >Поэтажный план здания</figcaption>
					</figure>
					<figure class="manual-paragraph__image">
						<img src="image/map-7.jpg" alt="Выпадающий список этажей здания" />
						<figcaption >Выпадающий список этажей здания</figcaption>
					</figure>
					<p class="manual-paragraph-text">
						Переключение между этажами здания осуществляется путем выбора соответствующего значения из выпадающего списка панели слоев, и с ним уже можно работать.
					</p>
				<h4>Вид</h4>
				<h4>Тематические отчеты</h4>
				<h4>Карточка</h4>
					<p class="manual-paragraph-text">
						Функция «Карточка» позволяет выводить информацию об объекте, является одним из главных элементов данного приложения. При выделении объекта на карте становится активной кнопка карточка объекта в панели инструментов, при нажатии на которую открывается карточка выделенного объекта с различной информацией. В правом верхнем углу располагаются кнопки, позволяющие свернуть или закрыть карточку. Свернутая карточка будет отображаться в дополнительной панели внизу окна приложения под картой. Развернуть карточку можно кликнув на ее название в дополнительной панели внизу окна
					</p>
					<p class="manual-paragraph-text">
						Внизу карточки располагаются кнопки, позволяющие отменить, сохранить изменения или закрыть карточку. Также функция работает при открывани карточки помещения на поэтажном плане здания.
					</p>
					<figure class="manual-paragraph__image">
						<img src="image/map-8.jpg" alt="Карточка здания и отображения карточки в свернутом виде" />
						<figcaption >Карточка здания и отображения карточки в свернутом виде</figcaption>
					</figure>
					<figure class="manual-paragraph__image">
						<img src="image/map-9.jpg" alt="Карточка помещения в поэтажном плане" />
						<figcaption >Карточка помещения в поэтажном плане</figcaption>
					</figure>
					<p class="manual-paragraph-text">
						При работе с карточками помогает раздел административной панели. Пункт меню «Открыть» соответственно открывает карточку выделенного в данный момент объекта, а «Открыть таблицу» позволяет осуществлять пользователю поиск необходимых карточек и множественное редактирование.
					</p>
					<figure class="manual-paragraph__image">
						<img src="image/map-10.jpg" alt="Расположение раздела «карточка»" />
						<figcaption >Расположение раздела «карточка»</figcaption>
					</figure>
					<figure class="manual-paragraph__image">
						<img src="image/map-11.jpg" alt="Таблица карточек" />
						<figcaption >Таблица карточек</figcaption>
					</figure>
					<p class="manual-paragraph-text">
						У карточки существует несколько групп характеристик, одна обязательная – основные характеристики, которая есть у каждой карточки обязательно и еще несколько групп. Чаще всего характеристики объединяют в группы по какому-либо признаку, например, характеристики, определяющие расположение объекта, его район, улицу, дом и так далее. Для удобства работы с конкретной группой характеристик, существует возможность сворачивать остальные группы. Сделать это можно нажав на название группы. Администратор может добавлять группы характеристик для конкретного типа карточек.
					</p>
					<p class="manual-paragraph-text">
						Также существует такое понятие как непосредственно характеристика, их набор определяется опять же администратором, но у пользователя есть возможность менять значение характеристики в карточке объекта и сохранять эти изменения по мере необходимости. Есть несколько видов характеристик, которые отличаются способом ввода информации, например, при изменении поля типа «дата» появится календарь, где пользователю будет необходимо выбрать число месяц и год, который ему требуется. Также существуют текстовый и числовой тип данных. При попытке ввести в числовое поле буквы или символы программа выведет сообщение с предупреждением.
					</p>
					<figure class="manual-paragraph__image">
						<img src="image/map-12.jpg" alt="Пример не правильного ввода информации в поле" />
						<figcaption >Пример не правильного ввода информации в поле</figcaption>
					</figure>
					<p class="manual-paragraph-text">
						Следует заметить, что при выделении нескольких объектов на карте и открытии карточки для них система сгенерирует из всех карточек объектов одну, и при изменении какой-либо характеристики в такой карточке, изменения появятся в каждой карточке выделенного объекта. Если значения характеристики для всех объектов будет совпадать, то система выведет его как есть, если же для одной характеристики в разных карточках разные значения, то система обозначит такое значение специальным символом <…>.
					</p>
					<figure class="manual-paragraph__image">
						<img src="image/map-13.jpg" alt="Пример отображения данных при совпадающих и разных значениях характеристик при множественном заполнении" />
						<figcaption >Пример отображения данных при совпадающих и разных значениях характеристик при множественном заполнении</figcaption>
					</figure>
					<p class="manual-paragraph-text">
						При сохранении изменений в карточке сразу для нескольких зданий система соответственно пересохранит значения в измененных характеристиках. Если пользователю необходимо отменить сделанные им, но еще не сохраненные изменения, то необходимо нажать кнопку «Сбросить изменения», которая располагается внизу карточки. Так же сброс изменений работает и для карточки для одного объекта
					</p>
		</article >


		<article id="map-mapList" class="navigation-anchor-sub manual-paragraph">
			<h3 class="manual-paragraph-title">Панель списка открытых карт</h3>
			<p class="manual-paragraph-text">
				Предоставляет пользователю возможность быстрого переключения между открытыми картами, поэтажными планами.
			</p>
		</article >


		<article id="map-ToolsPanel" class="navigation-anchor-sub manual-paragraph">
			<h3 class="manual-paragraph-title">Панель инструментов</h3>
			<ul class="manual-paragraph-text__link">Далее выделим и опишем функции панели инструментов.
			<li>
				<b>«Навигация».</b> Позволяет перемещать, приближать и отдалять карту. Так же регулировать приближение и отдаление карты возможно с помощью колесика мыши.</li>
			<li>
				<b>«Масштабирование».</b> Увеличение области карты. Чтобы увеличить определенную область карты, необходимо, удерживая левую клавишу мыши в нажатом положении, выделить нужную область. При этом произойдет приближение к выделенной области
			</li>
			<li>
				<b>«Вся карта».</b> Возвращает первоначальный вид карты
			</li>
			<li>
				<b>«Выделение».</b> Позволяет нажатием левой клавиши мыши выбрать объект на карте. При удержании клавиши «Shift» позволяет выделять на карте сразу несколько объектов. При удержании левой клавиши мыши происходит выбор объектов в пределах прямоугольной области. Выбранные объекты будут выделены синим цветом, а их количество отобразится в строке состояния
			</li>
			<li>
				<b>«Выбор объектов полигоном».</b> Позволяет выбрать объекты карты в пределах полигона. Двойное нажатие левой клавиши мыши означает окончание рисование полигона и выбор объектов.
			</li>
			</ul>
			<figure class="manual-paragraph__image">
				<img src="image/map-14.jpg" alt="Выбор объектов" />
				<figcaption >Выбор объектов</figcaption>
			</figure>
			<figure class="manual-paragraph__image">
				<img src="image/map-15.jpg" alt="Выбор объектов полигоном" />
				<figcaption >Выбор объектов полигоном</figcaption>
			</figure>
		</article >

		<article id="map-LayersPanel" class="navigation-anchor-sub manual-paragraph">
			<h3 class="manual-paragraph-title">Панель слоев</h3>
			<p class="manual-paragraph-text">
				Отображает количество слоев на карте и их цветовую индикацию. Позволяет отключать слои при необходимости. Слева от каждого слоя находится галочка, отвечающая за отображение слоя на карте, если ее снять, то соответствующий слой перестанет отображаться на карте.
			</p>
		</article>

		<article id="map-SizePanel" class="navigation-anchor-sub manual-paragraph">
			<h3 class="manual-paragraph-title">Панель масштабирования</h3>
			<p class="manual-paragraph-text">
				С помощью кнопок позволяет пользователю приближать или отдалять карту для удобной работы. Так же регулировать приближение и отдаление карты возможно с помощью колесика мыши.
			</p>
		</article>

		<article id="map-StatusBar" class="navigation-anchor-sub manual-paragraph">
			<h3 class="manual-paragraph-title">Строка состояния</h3>
			<p class="manual-paragraph-text">
				Отображает масштаб карты, координаты курсора, размер рабочей области карты и количество выделенных объектов на карте для удобства пользователя.
			</p>
		</article>

		<article id="map-Search" class="navigation-anchor-sub manual-paragraph">
			<h3 class="manual-paragraph-title">Поиск и множественное редактирование</h3>
			<p class="manual-paragraph-text">
				Для удобного поиска необходимых карточек существует фильтрация по типу объекта и слоям, к которым относятся карточки. При открытии таблицы автоматически загружаются карточки зданий ВУЗа. Данные можно редактировать прямо в этой таблице<br>
				При выборе в качестве типа объекта комнаты в выпадающем меню загружаются все комнаты всех зданий ВУЗа. В выпадающем меню «Слой» можно выбрать конкретное здание и работать с карточками к нему относящимися. Так же есть разделение по этажам, которое располагается под выпадающими меню «Тип объектов» и «Слой».<br>
				В таблице работает множественное сохранение, то есть, если вы изменили данные сразу в нескольких карточках, то при нажатии кнопки «Сохранить», которая находится в верхней части таблицы, система сохранит все ваши изменения во всех карточках.<br>
				Из данной таблицы можно перейти к карточке любой комнаты, для этого достаточно щелкнуть по «Карточке» во втором столбце таблицы.<br>
				В таблице возможен поиск карточек по любому значению из любого поля, например, поиск по наименованию объекта. Для этого необходимо забить искомое значение в поле, располагающееся под вкладками этажей здания.
			</p>
			<figure class="manual-paragraph__image">
				<img src="image/map-16.jpg" alt="Таблица карточек для здания" />
				<figcaption >Таблица карточек для здания</figcaption>
			</figure>
		</article>
	</section>
