		<section id="objectadmin" class="manual-paragraph navigation-anchor">
			<h2 class="manual-main-title">Управление данными</h2>
		<article id="objectadmin-datas" class="navigation-anchor-sub manual-paragraph">
		<h3 class="manual-paragraph-title">5 типов данных в «WGS ГИС ВУЗа»</h3>
		<p class="manual-paragraph-text">
			<i>Атрибутивные описания.</i> Атрибутивное описание представляет собой описательную структуру объектов реального мира, состоящую из множества свойств (
			характеристик). Каждое описание может иметь либо простую, либо сложную иерархическую структуру. В случае использования иерархической структуры, каждое дочернее (вложенное) описание вступает в связь типа «один-к-одному» или «один-ко-многим». Такая связь, в свою очередь, также может иметь свойства (характеристики). Карточка дочернего описания в иерархической структуре именуется как вложенная.
		</p>
		<ul class="manual-paragraph-text__link">
			<li>
				Связь «один-к-одному». Экземпляр (карточка) родительского атрибутивного описания может иметь только один экземпляр (карточку) дочернего атрибутивного описания. Например, карточка типа «Помещение» может иметь одну дочернюю карточку типа «Пол».
			</li>
			<li>
				Связь «один-ко-многим». Экземпляр (карточка) родительского атрибутивного описания может иметь множество экземпляров (карточек) дочернего атрибутивного описания. Например, карточка типа «Помещение» может иметь несколько дочерних карточек типа «Компьютер». Такая связь может называться «Компьютеризация» и иметь свойство «Общая стоимость».
			</li>
		</ul>
		<p class="manual-paragraph-text">
			<i>Слои.</i> Слой представляет собой класс объектов реального мира, объединенных общей тематикой. Слой может быть связан с одним или несколькими
			атрибутивными описаниями, в результате чего каждый объект слоя будет связан с карточками соответствующих атрибутивных описаний (будет описываться совокупностью их характеристик). В случае, когда слой связан с атрибутивными описаниями, одно из них должно быть назначено в качестве основного, а остальные – дополнительными.
			Отличие основного атрибутивного описания от дополнительного:
		</p>
		<ul class="manual-paragraph-text__link">
			<li>Карточка основного описания отображается первой при использовании функции «Карточка».</li>
			<li>
				При использовании функции «Поиск» в режиме поиска объектов на карте,
				в списке результатов отображаются карточки основного атрибутивного описания.
			</li>
			<li>Выводимая подпись к объектам на карте выводится из карточки основного описания.</li>
		</ul>
		<p class="manual-paragraph-text">
			<i>Группы слоёв.</i> Для удобства управления слоями их необходимо разделить на группы по тематическому признаку (Группа «Водопровод» - слои «Вода 	пожарная», «Вода техническая»).
		</p>
		<p class="manual-paragraph-text"><i>Характеристики.</i> Описательная единица объекта реального мира, набор которых составляет атрибутивное описание.</p>
		<p class="manual-paragraph-text">
			<i>Группы характеристик.</i> Для удобства управления характеристиками их необходимо разделить на группы. Например, характеристики «Номер дома» и «Улица» удобно объединить в группу адресных характеристик.Главное окно подсистемы управления данными разделено на две области. Слева представлено дерево объектов, сгруппированное по типам. Справа – рабочая область подсистемы, в которой каждый редактируемый или создаваемый объект представляется в виде формы, открываемой в отдельной вкладке.
		</p>
		<figure class="manual-paragraph__image">
			<img src="image/admin-1.png" alt="Главное окно подсистемы управления данными" />
			<figcaption >Главное окно подсистемы управления данными</figcaption>
		</figure>

		</article >
		<article id="objectadmin-functional" class="navigation-anchor-sub manual-paragraph">
		<h3 class="manual-paragraph-title">Функциональные возможности</h3>
		<ul class="manual-paragraph-text__link">Подсистема управления данными позволяет администратору:
			<li>Управлять слоями и группами слоёв.</li>
			<li>Управлять атрибутивными описаниями.</li>
			<li>Управлять характеристиками и группами характеристик.</li>
			<li>Связывать атрибутивные описания со слоями.</li>
			<li>Управлять карточками или выполнять поиск.</li>
			<li>Управлять отвязанными, потерянными или неиспользуемыми карточками.</li>
			<li>Привязывать карточки к объектам карты.</li>
		</ul>
		</article >
		<article id="objectadmin-layerGroup"class="navigation-anchor-sub manual-paragraph">
		<h3 class="manual-paragraph-title">Создание группы слоёв</h3>
		<p class="manual-paragraph-text">
			Для того чтобы создать группу слоёв, необходимо нажать на кнопку «Добавить» в панели инструментов и выбрать пункт «Группу слоёв». В открывшейся форме 	необходимо указать наименование и нажать «Сохранить»
		</p>
		<figure   class="manual-paragraph__image">
			<img src="image/admin-2.png" alt="Форма создания группы слоёв" />
			<figcaption >Форма создания группы слоёв</figcaption>
		</figure>
		<p class="manual-paragraph-text">
			После сохранения группы слоёв, открытая форма используется для редактирования. С помощью кнопок «Добавить», «Свойства» и «Удалить» осуществляется 	добавление, редактирование и удаление слоёв, входящих в данную группу.
		</p>
		</article >
		<article id="objectadmin-layerCreate" class="navigation-anchor-sub manual-paragraph">
		<h3 class="manual-paragraph-title">Создание слоя</h3>
		<p class="manual-paragraph-text">
			Для создания слоя, необходимо нажать на кнопку «Добавить» в панели инструментов и выбрать пункт «Слой». В открывшейся форме необходимо указать наименование и группу слоёв, затем нажать «Сохранить»
		</p>
		<figure   class="manual-paragraph__image">
			<img src="image/admin-3.png" alt="Форма создания слоя" />
			<figcaption >Форма создания слоя</figcaption>
		</figure>
		<p class="manual-paragraph-text">
			После сохранения слой доступен для редактирования. С помощью кнопок «Привязать» и «Отвязать» осуществляется привязка и отвязка атрибутивного описания.
		</p>
		<ul class="manual-paragraph-text__link">
			Для привязки атрибутивного описания в форме привязки необходимо выбрать необходимое описание с учетом трех параметров:
			<li>
				<i>Назначить данное описание основным.</i>После привязки данное описание будет назначено основным. Если до этого основным было другое описание, то оно автоматически будет назначено как дополнительное.
			</li>
			<li>
				<i>Привязать имеющиеся атрибутивные объекты к подходящим геометрическим.</i> Если выбранное атрибутивное описание уже было ранее привязано к слою и в системе сохранились отвязанные карточки данного описания, то вместо создания пустых карточек для каждого объекта слоя будут восстановлены связи со старыми карточками. Если в слое появились новые объекты, то для них будут созданы новые пустые карточки.
			</li>
			<li>
				<i>Удалить все атрибутивные объекты, не привязанные к геометрическим.</i>
				<ul class="manual-paragraph-text__link">
					Данный параметр зависит от параметра <i>«Привязать имеющиеся атрибутивные объекты к подходящим геометрическим»</i>:
					<li>
						<i>Параметр включен.</i> Если в системе сохранились отвязанные карточки данного описания, то те из них, связи с которыми не удалось восстановить, будут удалены.
					</li>
					<li><i>Параметр выключен.</i> Если в системе сохранились отвязанные карточки данного описания, то они будут удалены.</li>
				</ul>
			</li>
		</ul>
		<figure   class="manual-paragraph__image">
			<img src="image/admin-4.png" alt="Форма привязки атрибутивного описания" />
			<figcaption >Форма привязки атрибутивного описания</figcaption>
		</figure>
		<p class="manual-paragraph-text">
			Назначение основного описания осуществляется выбором описания из списка связанных атрибутивных описаний и нажатием кнопки «Назначить основным». После 	назначения основного описания, оно выделяется жирным стилем.
		</p>
		</article >
		<article  id="objectadmin-layerGroupCreate" class="navigation-anchor-sub manual-paragraph">
		<h3 class="manual-paragraph-title">Создание группы характеристик</h3>
		<p class="manual-paragraph-text">
			Для создания группы характеристик, необходимо нажать на кнопку «Добавить» в панели инструментов и выбрать пункт «Группу характеристик». В открывшейся форме необходимо указать наименование, затем нажать «Сохранить». После сохранения группа доступна для редактирования. С помощью кнопок «Добавить», «Свойства» и «Удалить» осуществляется добавление, редактирование и удаление характеристик, входящих в данную группу.
		</p>
		<figure   class="manual-paragraph__image">
			<img src="image/admin-5.png" alt="Форма создания группы характеристик" />
			<figcaption >Форма создания группы характеристик</figcaption>
		</figure>
		</article >
		<article id="objectadmin-characteristicsCreate" class="navigation-anchor-sub manual-paragraph">
		<h3 class="manual-paragraph-title">Создание характеристики</h3>
		<p class="manual-paragraph-text">
			Для создания характеристики, необходимо нажать на кнопку «Добавить» в панели инструментов и выбрать пункт «Характеристику». В открывшейся форме необходимо заполнить параметры, затем нажать «Сохранить».
		</p>
		<ul class="manual-paragraph-text__link">Характеристика содержит следующие параметры:
			<li><i>Наименование.</i> Наименование характеристики, используемое при отображении в карточке и в форме поиска;</li>
			<li><i>Наименование в AutoCAD.</i> Наименование характеристики (синоним), которое будет использоваться в таблице объектных данных при работе с AutoCADMap. При загрузке объектов из среды AutoCADMap в базу данных, значение из одноименного поля будет загружено в соответствующую характеристику карточки. Длина наименования не должна превышать 15 символов, допустимыми символами являются латинские и русские буквы, символ «_» и цифры;</li>
			<li><i>Группа.</i> Группа характеристик, в которую помещается данная характеристика;</li>
			<li>
				<ul class="manual-paragraph-text__link"><i>Тип значения.</i> Типы значения характеристики:
					<li>«Дата-Время»;</li>
					<li>«Список значений»;</li>
					<li>«Ссылка на объект»;</li>
					<li>«Строка»;</li>
					<li>«Текст»;</li>
					<li>«Число вещественное»;</li>
					<li>«Число целое».</li>
				</ul>
			</li>
		</ul>
		<figure   class="manual-paragraph__image">
			<img src="image/admin-6.png" alt="Форма создания характеристики после сохранения характеристика доступна для 	редактировfigcaptionния"/>
			<figcaption >Форма создания характеристики после сохранения характеристика доступна для редактирования</figcaption>
		</figure>
		
		<p class="manual-paragraph-text">После сохранения характеристика доступна для редактирования.</p>
		</article >
		<article id="objectadmin-attributeCreate" class="navigation-anchor-sub manual-paragraph">
		<h3 class="manual-paragraph-title">Создание атрибутивного описания</h3>
		<p class="manual-paragraph-text">
			Для создания атрибутивного описания, необходимо нажать на кнопку «Добавить» в панели инструментов и выбрать пункт «Атрибутивное описание». В открывшейся форме необходимо заполнить параметры, затем нажать «Сохранить».
		</p>
		<ul class="manual-paragraph-text__link">Атрибутивное описание содержит следующие параметры:
			<li><i>Полное наименование.</i> Наименование, выводимое в карточке и в списке атрибутивных описаний.</li>
			<li><i>Краткое наименование.</i> Сокращенное наименование атрибутивного описания (для заполнения необязательно).</li>
			<li><i>Примечание.</i> Дополнительная информация об атрибутивном описании.</li>
			<li><i>Подпись к объектам на карте.</i> Характеристика, значение которой будет выводиться в виде подписи либо подсказки при отображении на карте.</li>
		</ul>
		<figure   class="manual-paragraph__image">
			<img src="image/admin-7.png" alt="Форма привязки характеристик к атрибутивному описанию" />
			<figcaption >Форма привязки характеристик к атрибутивному описанию</figcaption>
		</figure>
		<ul class="manual-paragraph-text__link">После сохранения атрибутивное описание доступно для редактирования. В нижней части формы доступны 3 раздела:
			<li>
				<i>Список характеристик атрибутивного описания.</i> Для привязки характеристики к атрибутивному описанию необходимо нажать кнопку «Привязать характеристику». В открывшейся форме привязки отметить галочкой нужные характеристики. Если характеристики должны быть добавлены в таблицу объектных, то установить параметр «Добавить выбранные характеристики к объектным данным». Для отвязки характеристики необходимо выбрать характеристику из списка и нажать кнопку «Отвязать характеристику». С помощью кнопок «Добавить к объектным данным» и «Убрать из объектных данных» производится добавление или удаление уже привязанных к описанию характеристик из таблицы объектных данных.
			</li>
			<li>
				<i>Список дочерних атрибутивных описаний.</i> Для создания, редактирования и удаления связей с дочерними атрибутивными описаниями используются кнопки «Добавить», «Свойства» и «Удалить». Для создания связи необходимо нажать кнопку «Добавить». В открывшейся форме необходимо указать наименование связи, тип («один к одному» или «один ко многим») и атрибутивные описания, участвующие в связи. После этого нажать на кнопку «Сохранить». После сохранения становится доступной возможность назначения характеристик связи (рис. 3.2.10). Для этого необходимо использовать кнопки «Привязать» и «Отвязать».
			</li>
			<li>
				<i>Список привязанных слоёв.</i> Для привязки атрибутивного описания к слоям необходимо в списке выбрать слой и нажать кнопку «Привязать». В форме параметров привязки необходимо установить галочки в соответствии с правилами.
			</li>
		</ul>
		<figure   class="manual-paragraph__image">
			<img src="image/admin-8.png" alt="Форма привязки характеристик к атрибутивному описанию" />
			<figcaption >Форма привязки характеристик к атрибутивному описанию</figcaption>
		</figure>
		<figure   class="manual-paragraph__image">
			<img src="image/admin-9.png" alt="Форма создания связи с дочерним атрибутивным описанием" />
			<figcaption >Форма создания связи с дочерним атрибутивным описанием</figcaption>
		</figure>
		<figure   class="manual-paragraph__image">
			<img src="image/admin-10.png" alt="Форма назначения характеристик связи" />
			<figcaption >Форма назначения характеристик связи</figcaption>
		</figure>
		<figure   class="manual-paragraph__image">
			<img src="image/admin-11.png" alt="Форма параметров привязки слоя" />
			<figcaption >Форма параметров привязки слоя</figcaption>
		</figure>
		</article >
		<article id="objectadmin-cardSearch" class="navigation-anchor-sub manual-paragraph">
		<h3 class="manual-paragraph-title">Просмотр карточек</h3>
		<p class="manual-paragraph-text">
			Для просмотра карточек необходимо выбрать соответствующий слой или атрибутивное описание в боковой панели объектов и нажать кнопку «Карточки». Список карточек или объектов выводится в виде результатов модуля «Поиск». Перейдя во вкладку «Поиск», можно использовать простые и расширенные критерии поиска.
		</p>
		<figure   class="manual-paragraph__image">
			<img src="image/admin-12.png" alt="Форма поиска" />
			<figcaption >Форма поиска</figcaption>
		</figure>
		</article >
		<article id="objectadmin-lostCards" class="navigation-anchor-sub manual-paragraph">
		<h3 class="manual-paragraph-title">Работа с отвязанными карточками</h3>
		<ul class="manual-paragraph-text__link">Помимо просмотра карточек, в подсистеме управления данными предусмотрена возможность управления «потерянными» карточками, которые могли быть отвязаны:
			<li>Вручную при работе с модулем привязки карточек – при отвязке дополнительной или вложенной карточки;</li>
			<li>При отвязке атрибутивного описания от слоя;</li>
			<li>При удалении объекта с карты из среды AutoCADMap.</li>
		</ul>
		<p class="manual-paragraph-text">Для просмотра отвязанных карточек необходимо нажать кнопку «Отвязанные карточки» на панели управления подсистемы управления данными. </p>
		<ul class="manual-paragraph-text__link">В появившейся форме доступна работа с тремя типами отвязанных карточек
			<li>«Слой - Тип». Оставшиеся в результате отвязки атрибутивного описания от слоя.</li>
			<li>«Объект - Карточка». Оставшиеся в результате отвязки дополнительной карточки от геометрического объекта (через модуль «Привязка карточек»).</li>
			<li>«Карточка - Карточка». Оставшиеся в результате отвязки вложенной карточки от родительской (через модуль «Привязка карточек»).</li>
		</ul>
		<p class="manual-paragraph-text">
			Отвязанные карточки можно либо привязать (нажатием иконки привязки в списке карточек), либо удалить (выделить карточки галочкой в списке и нажать кнопку «Удалить»).
		</p>
		<figure   class="manual-paragraph__image">
			<img src="image/admin-13.png" alt="Форма управления отвязанными карточками" />
			<figcaption >Форма управления отвязанными карточками</figcaption>
		</figure>
		</article>
	</section>
	</div>
</body>
